// BUTTON
// -----------------------------------------------------------------------------

@use "../tokens" as *;
@use "../helpers/focus-visible" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: $space-small-b $space-regular;
  border: 0;
  border-radius: $border-radius-regular;
  vertical-align: middle;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-white-regular;
  background-color: $color-brand-regular;
  user-select: none;
  transition: background-color $transition-regular, outline $transition-regular;

  &:hover,
  &.is-activated {
    background-color: $color-brand-dark-a;
  }

  &:focus-visible {
    @include focus-visible;
  }

  &:active {
    background-color: $color-brand-dark-b;
  }

  &:disabled {
    opacity: $opacity-medium;
    pointer-events: none;
  }

  &-icon-lead,
  &-icon-trail {
    width: 1.25rem;
    height: 1.25rem;
    fill: currentColor;
  }

  &-icon-lead {
    margin-right: $space-small-d;
  }

  &-icon-trail {
    margin-left: $space-small-d;
  }
}

// Lean and plain

.button-lean,
.button-plain {
  color: $color-brand-regular;
  background-color: transparent;

  &.is-activated,
  &:hover {
    background-color: $color-brand-light-a;
  }

  &:active {
    background-color: $color-brand-light-b;
  }
}

.button-lean {
  padding: calc(#{$space-small-b} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  border: $border-width-regular solid $color-brand-medium;
}

// Iconic

.button-iconic {
  padding: $space-small-b;

  &.button-lean {
    padding: calc(#{$space-small-b} - #{$border-width-regular});
  }

  .button-icon-lead {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0;
  }
}

// Positive

.button-positive {
  background-color: $color-positive-regular;

  &.is-activated,
  &:hover {
    background-color: $color-positive-dark-a;
  }

  &:active {
    background-color: $color-positive-dark-b;
  }

  &.button-lean,
  &.button-plain {
    color: $color-positive-regular;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-positive-light-a;
    }

    &:active {
      background-color: $color-positive-light-b;
    }
  }

  &.button-lean {
    border-color: $color-positive-medium;
  }
}

// Attentive

.button-attentive {
  background-color: $color-attentive-regular;

  &.is-activated,
  &:hover {
    background-color: $color-attentive-dark-a;
  }

  &:active {
    background-color: $color-attentive-dark-b;
  }

  &.button-lean,
  &.button-plain {
    color: $color-attentive-regular;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-attentive-light-a;
    }

    &:active {
      background-color: $color-attentive-light-b;
    }
  }

  &.button-lean {
    border-color: $color-attentive-medium;
  }
}

// Negative

.button-negative {
  background-color: $color-negative-regular;

  &.is-activated,
  &:hover {
    background-color: $color-negative-dark-a;
  }

  &:active {
    background-color: $color-negative-dark-b;
  }

  &.button-lean,
  &.button-plain {
    color: $color-negative-regular;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-negative-light-a;
    }

    &:active {
      background-color: $color-negative-light-b;
    }
  }

  &.button-lean {
    border-color: $color-negative-medium;
  }
}

// Neutral

.button-neutral {
  background-color: $color-neutral-regular;

  &.is-activated,
  &:hover {
    background-color: $color-neutral-dark-a;
  }

  &:active {
    background-color: $color-neutral-dark-b;
  }

  &.button-lean,
  &.button-plain {
    color: $color-neutral-regular;
    background-color: transparent;

    &.is-activated,
    &:hover {
      background-color: $color-neutral-light-a;
    }

    &:active {
      background-color: $color-neutral-light-b;
    }
  }

  &.button-lean {
    border-color: $color-neutral-medium;
  }
}
