// INTRO
// -----------------------------------------------------------------------------

@use "../tokens" as *;

.intro {
  padding-top: 3 * $space-large-a;
  padding-bottom: $space-large-a;

  &-lead {
    margin-bottom: $space-regular;
    font-size: $font-size-large-a;
    line-height: $line-height-small-c;
    font-weight: $font-weight-bold-a;
  }
}
