// LOGO
// -----------------------------------------------------------------------------

@use "../tokens" as *;
@use "../helpers/focus-visible" as *;

.logo {
  display: inline-flex;
  font-size: $font-size-large-b;
  line-height: 1;
  font-weight: $font-weight-bold-a;
  color: $color-brand-regular;

  &-mark {
    margin-right: $space-small-c;
  }

  &:focus-visible {
    @include focus-visible(rounded);
  }
}
