// NOTICE
// -----------------------------------------------------------------------------

@use "../tokens" as *;

.notice {
  padding: $space-regular $space-large-d;
  border-radius: $border-radius-regular;
  color: $color-brand-regular;
  background-color: $color-brand-light-a;

  &-heading {
    margin-bottom: $space-small-c;
    font-size: $font-size-large-e;
    line-height: $line-height-small-a;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

// Positive

.notice-positive {
  color: $color-positive-regular;
  background-color: $color-positive-light-a;
}

// Attentive

.notice-attentive {
  color: $color-attentive-regular;
  background-color: $color-attentive-light-a;
}

// Negative

.notice-negative {
  color: $color-negative-regular;
  background-color: $color-negative-light-a;
}

// Neutral

.notice-neutral {
  color: $color-neutral-regular;
  background-color: $color-neutral-light-a;
}
