// CONTAINER
// -----------------------------------------------------------------------------

@use "../tokens" as *;
@use "../helpers/set-breakpoint" as *;

.container {
  overflow: auto;
  max-width: $container-max-width-regular;
  padding-right: $space-large-d;
  padding-left: $space-large-d;
  margin-right: auto;
  margin-left: auto;

  @include set-breakpoint(tablet) {
    padding-right: $space-large-b;
    padding-left: $space-large-b;
  }
}
