// ANIMATE SLIDE
// -----------------------------------------------------------------------------

@use "../tokens" as *;

@keyframes slide-in-regular {
  from {
    opacity: 0;
    transform: translateY(-$translate-distance-regular);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-out-regular {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-$translate-distance-regular);
  }
}
