// ANIMATION
// -----------------------------------------------------------------------------

// Transition

$transition-regular: 0.12s ease-out;
$transition-slow: 0.24s ease-out;

// Translate

$translate-distance-regular: 1rem;
