// COLOR
// -----------------------------------------------------------------------------

// Brand

$color-brand-regular: hsl(208, 100%, 36%);
$color-brand-light-a: hsl(208, 92%, 96%);
$color-brand-light-b: hsl(208, 92%, 92%);
$color-brand-light-c: hsl(208, 92%, 88%);
$color-brand-medium: hsl(208, 76%, 56%);
$color-brand-dark-a: hsl(208, 100%, 32%);
$color-brand-dark-b: hsl(208, 100%, 28%);

// Positive

$color-positive-regular: hsl(138, 100%, 22%);
$color-positive-light-a: hsl(138, 84%, 94%);
$color-positive-light-b: hsl(138, 80%, 88%);
$color-positive-light-c: hsl(138, 76%, 82%);
$color-positive-medium: hsl(138, 56%, 42%);
$color-positive-dark-a: hsl(138, 100%, 20%);
$color-positive-dark-b: hsl(138, 100%, 18%);

// Attentive

$color-attentive-regular: hsl(44, 100%, 26%);
$color-attentive-light-a: hsl(44, 88%, 94%);
$color-attentive-light-b: hsl(44, 84%, 88%);
$color-attentive-light-c: hsl(44, 80%, 82%);
$color-attentive-medium: hsl(44, 56%, 44%);
$color-attentive-dark-a: hsl(44, 100%, 22%);
$color-attentive-dark-b: hsl(44, 100%, 18%);

// Negative

$color-negative-regular: hsl(8, 100%, 36%);
$color-negative-light-a: hsl(8, 84%, 96%);
$color-negative-light-b: hsl(8, 80%, 92%);
$color-negative-light-c: hsl(8, 76%, 88%);
$color-negative-medium: hsl(8, 72%, 58%);
$color-negative-dark-a: hsl(8, 100%, 32%);
$color-negative-dark-b: hsl(8, 100%, 28%);

// Focal

$color-focal-regular: hsl(212, 100%, 44%);

// Neutral

$color-neutral-regular: hsl(0, 0%, 24%);
$color-neutral-light-a: hsl(0, 0%, 96%);
$color-neutral-light-b: hsl(0, 0%, 92%);
$color-neutral-light-c: hsl(0, 0%, 88%);
$color-neutral-medium: hsl(0, 0%, 48%);
$color-neutral-dark-a: hsl(0, 0%, 20%);
$color-neutral-dark-b: hsl(0, 0%, 16%);

// White

$color-white-regular: hsl(0, 0%, 100%);
$color-white-transparent-a: hsl(0, 0%, 100%, 0.92);
$color-white-transparent-b: hsl(0, 0%, 100%, 0.84);

// Black

$color-black-transparent: hsl(0, 0%, 0%, 0.72);
