// DECORATION
// -----------------------------------------------------------------------------

// Opacity

$opacity-medium: 0.48;

// Border width

$border-width-regular: 1px;
$border-width-thick-a: 4px;
$border-width-thick-b: 2px;

// Border radius

$border-radius-regular: 4px;
$border-radius-full: 8000px;
$border-radius-small: 1px;
